{% extends 'base.html' %}
{% load static %}
{% block title %} Django Bookmark Detail {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>북마크 페이지</h1>
                <span class="subheading">북마크 detail 입니다</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}
<div id = "content">
    <h1> {{ object.title }} </h1>

    <ul>
        <li>URL: <a href="{{ object.url }} "> {{ object.url }}</a> </li> # URL 링크는 {{object.url}}템플릿 변수값임. =>  www.naver.com 과 유사
    </ul>
</div>
{% endblock %}
{% block extra-script %}{% endblock %}