{% extends 'base.html' %}

{% load static %}

{% block title %} post_all.html {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog List</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">

      <h1>Blog List : 나의 기록들</h1>
      <br>


      {% for post in posts %}
         <div class="post-preview">
             <a href="{{ post.get_absolute_url }}">
                 <h2 class="post-title">{{ post.title }}</h2></a>
             <p class="post-meta">{{ post.modify_dt|date:"N d, Y" }} </p>
             <h7 class="post-subtitle">{{ post.description }} </h7>
             <hr>
    {% endfor %}
    <hr>
    <!-- Pager -->
  <span>
          {% if page_obj.has_previous %}
          <div class="clearfix">
              <a class="btn btn-primary float-right" href="?page={{ page_obj.previous_page_number }}">이전페이지 &rarr;</a>
          </div>
          {% endif %}

          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

          {% if page_obj.has_next %}
          <div class="clearfix">
              <a class="btn btn-primary float-right" href="?page= {{ page_obj.next_page_number }}">다음 페이지 &rarr;</a>
          </div>
          {% endif %}
      </span>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block extra-script %}{% endblock %}